@font-face {
    font-family: 'Nike';
    src: url('Nike2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

* {
    font-family: monospace;
}

html {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    font-size: 17px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
li {
    font-size: 20px;
}
nav {
    height: 10vh;
    display: flex;
    justify-content:center;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}
nav li {
    padding: 1vh 2vw;
    text-align: center;
    border: #7269e6;
    border-radius: 10px;
}
.box {
    padding: 1vh 1.5vh;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .box:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
}
main {
    display: flex;
}
.imagen {
    background-color: grey;
    border: solid black 10px;
    border-radius: 15px;
    height: 65vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 5px;
}
section {
    padding-left: 5vw;
    width: 55vw;
    margin-right: 1vw;
}
section h1,h2,h3 {
    text-align: center;
}
.boton {
    margin: 0 auto;
    margin-top: 10vh;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 12vw;
    background-color: grey;
    border: solid black 10px;
    border-radius: 15px;
    animation: botona 2s ease infinite;
    
}
@keyframes botona {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}


























footer {
    height: 24vh;
    background-color: #f168db;
}
footer li {
   line-height: 5vh;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}
footer li {
    font-size: 25px;
}
footer a div {
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
footer div:hover {
    transform: scale(1.2);

}
#Copyright {
    padding-top: 15px;
    margin-bottom: -15px;
}
.fiuter li a {
    color: black;
}
