body {
    font-family: monospace;
    font-size: 17px;
    background-color:rgb(99, 247, 255);
}
.lista {
    list-style: none;
    
}
nav li {
    display: inline-block;
    padding: 5px 10px;
    width:10%;
    text-align: center;

}
nav li:hover{
    background-color:#fff;
    color:#000;
    }
a {
    text-decoration: none;
}
button {
    margin-left: 160px;
}
input {
        font-size: 17px;
}
#usuario {
    margin-left: 30px;
}
#name {
    margin-left: 40px;
}
#email {
    margin-left: 52px;
}
p {
    color: rgb(0, 0, 0);
}
