html {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 17px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;  
}
li {
    font-size: 20px;
}
nav {
    height: 10vh;
    display: flex;
    justify-content:center;
    background-color: rgb(247, 127, 241);
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}
nav li {
    padding: 0vh 2vw;
    text-align: center;
    border: #7269e6;
    border-radius: 10px;
}
main {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#registro {
    border: 1px solid black;
    width: 300px;
    padding: 20px;    background-color: #24303c;
    color: wheat;
    font-family:sans-serif;
    border-radius: 4px;
    text-align: center;

}
#registro p {
    text-align: right;
}
button {
    align-items: center;
}
nav li {
    padding: 1.5vh 3vw;
    text-align: center;
}
.box {
    padding: 1vh 2vh;
    color: white;
    text-decoration: none;
  }
  .box:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
  }