* {
    font-family: monospace;
}

html {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 17px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;  
}
li {
    font-size: 20px;
}
nav {
    height: 10vh;
    display: flex;
    justify-content:center;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}
nav li {
    padding: 1vh 2vw;
    text-align: center;
    border: #7269e6;
    border-radius: 10px;
}
.box {
    padding: 1vh 1.5vh;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .box:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
  }
h2 {
    text-align: center;
    border-bottom: 5px solid black;
    padding-top: 5px;
    margin-top: -5px;
}
main div {
    border: 5px solid black;
    width: 25vw;
    height: 65vh;
    margin: 0 auto;
    text-align: center;
    transition: transform .4s; 
    background-color: aliceblue;
}
img {
    padding-top: 50px;
    width: 95%;
    height: 35%;
    padding-bottom: 90px;
}
#tres {
    display: flex;
}
#seis {
    margin-top: 10vh;
    display: flex;
}
ul {
    list-style: none;
}
#kd15 {
    width: 22vw;
}
#lebron19 {
    width: 19vw;
}
#jordan11 {
    width: 21vw;
}
#mid {
    width: 20vw;
}
#airzoom {
    width: 25vw;
}
div a {
    font-size: 30px;
    background-color: grey;
    border: 1px solid black;
    padding-right: 1px;
}
div:hover {
    transform: scale(1.085);
}
footer {
    height: 20vh;
    background-color: #f168db;
}
footer li {
   line-height: 5vh;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}
footer li {
    font-size: 25px;
}
footer a div {
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
footer div:hover {
    transform: scale(1.2);

}
#Copyright {
    padding-top: 15px;
    margin-bottom: -15px;
}
.fiuter li a {
    color: black;
}