body {
    font-family: monospace;
    font-size: 17px;
    background-color:rgb(99, 247, 255);
}
ul {
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 5px 10px;
    width:10%;
    text-align: center;
}
nav li:hover{
    background-color:#24303c;
    }
a:hover {
    color:#ffffff;
}
.descripcion {
    margin-top: 45px;
    width: 380px;
}