html {
    height: 100vh;
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 17px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;  
}
.lista {
    list-style: none;
    position: relative;
    left: 29%;
    transform: translate(0%);
}
a {
    text-decoration: none;
    color: black;
}
nav li {
    display: inline-block;
    padding: 5px 10px;
    width:10%;
    text-align: center;
}
nav li:hover{
    background-color:#24303c;
    border-radius: 30px;
    }
a:hover {
    color:#ffffff;
}
input {
    font-size: 17px;  
}
#usuario {
    margin-left: 35.4px; 
}
#login {
    background-color: #24303c;
    padding-top: 90px;
    text-align: center;
    color: wheat;
    font-family:sans-serif;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.box {
    padding: 1vh 2vh;
    color: white;
    text-decoration: none;
  }
  .box:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
  }